.nombreUsuario {
    font-family: 'Prata', serif;
}

.TelefonoUsuario {
    font-family: 'Prata', serif;
}

@media (max-width: 576px) {
    #consulta-usuario {
        width: 250px;
        height: 200px;
        align-items: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {
    #consulta-usuario {
        width: 350px;
        height: 200px;
        align-items: center;
        margin-bottom: 20px;
    }
}