h1 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Prata', serif;
    font-size: 21px;
}

h3 {
    font-family: 'Dancing Script', cursive;

}

span 
{
font-family: 'Dancing Script', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;

}